/Lecture_5.2_cikli/nbproject/private/
/JavaApplication9/nbproject/private/
/Lecture5_cikli/nbproject/private/
/Lecture5_cikli/build/
/Lecture6/nbproject/private/
/Lecture6/build/
/JavaApplication12/nbproject/private/
/Lecture7_desas/nbproject/private/
/Lecture7_desas/build/
/Lecture8/nbproject/private/
/Lecture8/build/
/Speles/nbproject/private/
/Speles/build/
/Lecture8_Kugji/nbproject/private/
/Lecture8_Kugji/build/
/Lecture10_konsole/nbproject/private/
/Lecture10_konsole/build/
/lecture10_GUI/nbproject/private/
/lecture10_GUI/build/
/desas_GUI/nbproject/private/
/desas_GUI/build/
/desasGUI/nbproject/private/
/desasGUI/build/
/DESAS_GUI/nbproject/private/
/DESAS_GUI/dist/
/DESAS_GUI/build/
/JavaGame/nbproject/private/
/JavaGame/build/
/Lecture11/nbproject/private/
/Lecture11/build/