/Lecture_5.2_cikli/nbproject/private/
/JavaApplication9/nbproject/private/
/Lecture5_cikli/nbproject/private/
/Lecture5_cikli/build/
/Lecture6/nbproject/private/
/Lecture6/build/
/JavaApplication12/nbproject/private/
/Lecture7_desas/nbproject/private/
/Lecture7_desas/build/